.DS_Store
.idea/
.hg/
.ipynb_checkpoints/
__pycache__/
.texpadtmp/
.vscode/
tmp/
/log/
/handover
/setup.mk
/*_eps/*.pdf
/*.aux
/*.bbl
/*.blg
/*.dvi
/*.fdb_latexmk
/*.fls
/*.log
/*.toc
/*.out
/*.xwm
/*.synctex.gz
/*.pdfsync
/*.pdf
/*.ps
